/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Syncopate:wght@400;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --black-color: hsl(0, 0%, 5%);
  --black-color-light: hsl(0, 0%, 70%);
  --white-color: hsl(0, 0%, 100%);
  --title-color: hsl(0, 0%, 5%);
  --text-color: hsl(0, 0%, 55%);
  --body-color: hsl(0, 0%, 96%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --second-font: "Syncopate", sans-serif;
  --biggest-font-size: 2.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1152px) {
  :root {
    --biggest-font-size: 4.5rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/*=============== HEADER & NAV ===============*/
.header{
  height: 4rem;
  display: flex;
  justify-content: center;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1152px;
}
.menu-logo{
  width: 3.5rem;
  
}
.menu{
  font-size: var(--normal-font-size);
  font-weight: var(--font-regular);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.menu_anchors{
  display: flex;
  font-family: var(--second-font);
  transition: 1s all;
}
.menu-icon{
  display: none;
  font-size: 1.5rem;
  color: #000;
  cursor: pointer;
}
.menu-close-icon{
  display: none;
  font-size: 1.5rem;
  margin: 1rem;
  text-align: end;
  color: #000;
  cursor: pointer;
}
li{
  margin: 2rem 1rem 2rem 1rem;
}

/*=============== HOME ===============*/


/* Swiper class */


/*=============== BREAKPOINTS ===============*/
/* For small devices */


/* For medium devices */
@media screen and (max-width: 1018px) {
  .menu-icon{
    display: inline;
  }
  .menu_anchors{
    visibility: hidden;
    position: absolute;
    flex-direction: column;
    top: 0; 
    right: -100vw;
    width: 80vw;
    height: 100vh;
    z-index: 1000;
    background-color: var(--body-color);
    box-shadow: -6px 21px 102px -18px rgba(0,0,0,0.45);
    padding-left: 4rem;
  }
  .menu-close-icon{
    display: inline;
  }
  .show-menu{
    visibility: visible;
    right: 0;
  }


}
/* For large devices */
